absl-py==0.12.0
addict==2.4.0
alabaster==0.7.12
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1617035792271/work
Babel==2.9.0
backcall==0.2.0
bitarray==1.8.1
bleach==3.3.0
blessings==1.7
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chamfer-distance==2.0.0
chamfer-sp==0.0.0
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
cubic-feature-sampling==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
expansion-penalty==0.0.0
fett==0.3.2
future==0.18.2
google-auth==1.28.0
google-auth-oauthlib==0.4.4
gpustat==0.6.0
gridding==2.1.0
gridding-distance==1.0.0
grpcio==1.37.0
h5py==3.2.1
idna==2.10
imagesize==1.2.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
livereload==2.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
MDS==0.0.0
MinkowskiEngine==0.4.3
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.0
mkl-service==2.3.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5
notebook==6.3.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603570489231/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
open3d==0.12.0
OpenEXR==1.3.2
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1615224089586/work
plyfile==0.7.3
pointnet2-ops==3.5.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.15.7
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1615833610040/work
pycparser==2.20
PyEXR==0.3.9
Pygments==2.8.1
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
pytorch-metric-learning==0.9.97
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
recommonmark==0.7.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
rstcheck==3.3.1
scikit-learn==0.24.1
scipy==1.6.2
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
snooty-lextudio==1.8.10.dev0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinx-autobuild==2021.3.14
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
transforms3d==0.3.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
ujson==1.35
urllib3==1.26.4
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
yapf==0.31.0
